# US Census Demographic Data

In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("muonneutrino/us-census-demographic-data")

print("Path to dataset files:", path)

/Users/stockland/Desktop/Python Project Class/US Census Demographic Data/.venv/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading from https://www.kaggle.com/api/v1/datasets/download/muonneutrino/us-census-demographic-data?dataset_version_number=3...

100%|██████████| 10.6M/10.6M [00:06<00:00, 1.72MB/s]

Extracting files...
Path to dataset files: /Users/stockland/.cache/kagglehub/datasets/muonneutrino/us-census-demographic-data/versions/3

In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('../data/acs2017_county_data.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3220 entries, 0 to 3219
Data columns (total 37 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CountyId          3220 non-null   int64
 1   State             3220 non-null   object
 2   County            3220 non-null   object
 3   TotalPop          3220 non-null   int64
 4   Men               3220 non-null   int64
 5   Women             3220 non-null   int64
 6   Hispanic          3220 non-null   float64
 7   White             3220 non-null   float64
 8   Black             3220 non-null   float64
 9   Native            3220 non-null   float64
 10  Asian             3220 non-null   float64
 11  Pacific           3220 non-null   float64
 12  VotingAgeCitizen  3220 non-null   int64
 13  Income            3220 non-null   int64
 14  IncomeErr         3220 non-null   int64
 15  IncomePerCap      3220 non-null   int64
 16  IncomePerCapErr   3220 non-null   int64
 17  Poverty           3220 non-null   float64
 18  ChildPoverty      3219 non-null   float64
 19  Professional      3220 non-null   float64
 20  Service           3220 non-null   float64
 21  Office            3220 non-null   float64
 22  Construction      3220 non-null   float64
 23  Production        3220 non-null   float64
 24  Drive             3220 non-null   float64
 25  Carpool           3220 non-null   float64
 26  Transit           3220 non-null   float64
 27  Walk              3220 non-null   float64
 28  OtherTransp       3220 non-null   float64
 29  WorkAtHome        3220 non-null   float64
 30  MeanCommute       3220 non-null   float64
 31  Employed          3220 non-null   int64
 32  PrivateWork       3220 non-null   float64
 33  PublicWork        3220 non-null   float64
 34  SelfEmployed      3220 non-null   float64
 35  FamilyWork        3220 non-null   float64
 36  Unemployment      3220 non-null   float64
dtypes: float64(25), int64(10), object(2)
memory usage: 930.9+ KB

In [5]:
df.head(5)

,CountyId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001,Alabama,Autauga County,55036,26899,28137,2.7,75.4,18.9,0.3,...,0.6,1.3,2.5,25.8,24112,74.1,20.2,5.6,0.1,5.2
1,1003,Alabama,Baldwin County,203360,99527,103833,4.4,83.1,9.5,0.8,...,0.8,1.1,5.6,27.0,89527,80.7,12.9,6.3,0.1,5.5
2,1005,Alabama,Barbour County,26201,13976,12225,4.2,45.7,47.8,0.2,...,2.2,1.7,1.3,23.4,8878,74.1,19.1,6.5,0.3,12.4
3,1007,Alabama,Bibb County,22580,12251,10329,2.4,74.6,22.0,0.4,...,0.3,1.7,1.5,30.0,8171,76.0,17.4,6.3,0.3,8.2
4,1009,Alabama,Blount County,57667,28490,29177,9.0,87.4,1.5,0.3,...,0.4,0.4,2.1,35.0,21380,83.9,11.9,4.0,0.1,4.9

In [17]:
df.isnull().sum()

CountyId            0
State               0
County              0
TotalPop            0
Men                 0
Women               0
Hispanic            0
White               0
Black               0
Native              0
Asian               0
Pacific             0
VotingAgeCitizen    0
Income              0
IncomeErr           0
IncomePerCap        0
IncomePerCapErr     0
Poverty             0
ChildPoverty        0
Professional        0
Service             0
Office              0
Construction        0
Production          0
Drive               0
Carpool             0
Transit             0
Walk                0
OtherTransp         0
WorkAtHome          0
MeanCommute         0
Employed            0
PrivateWork         0
PublicWork          0
SelfEmployed        0
FamilyWork          0
Unemployment        0
dtype: int64

In [16]:
df.dropna(subset=['ChildPoverty'], inplace=True)

In [28]:
df_ = df.groupby('State')[['TotalPop', 'Men', 'Women', 'Hispanic', 'Asian', 'Native', 'White', 'Black',
                           'VotingAgeCitizen', 'Income', 'Poverty', 'Unemployment']].sum()
df_

,TotalPop,Men,Women,Hispanic,Asian,Native,White,Black,VotingAgeCitizen,Income,Poverty,Unemployment
State,,,,,,,,,,,,
Alabama,4850771,2350806,2499965,221.0,47.7,40.7,4366.3,1921.1,3651914,2698184,1403.6,604.6
Alaska,738565,386319,352246,147.7,173.5,917.2,1404.2,34.2,530553,1926338,393.1,280.0
Arizona,6809946,3385055,3424891,463.3,19.4,198.5,762.4,27.2,4690177,687250,302.9,146.5
Arkansas,2977944,1461651,1516293,381.8,51.9,40.5,5672.6,1209.9,2183895,2926881,1531.6,546.9
California,38982847,19366579,19616268,1744.1,410.1,95.7,3176.2,170.8,24970109,3540712,912.8,479.4
Colorado,5436519,2731315,2705204,1282.4,71.0,53.2,4778.1,94.9,3893361,3478628,847.0,370.8
Connecticut,3594478,1754046,1840432,91.4,28.6,1.0,608.3,51.8,2599794,595968,73.6,54.2
Delaware,943732,456876,486856,25.6,8.6,1.2,196.1,60.3,697329,183884,36.9,19.3
District of Columbia,672391,319046,353345,10.7,3.7,0.2,36.0,46.9,503112,77649,17.4,8.0
Florida,20278447,9914361,10364086,919.6,103.4,26.5,4564.1,951.5,14461395,3158670,1149.1,520.3
Georgia,10201635,4968887,5232748,991.1,191.0,30.2,9947.7,4475.0,7155973,6879737,3369.6,1280.5
Hawaii,1421572,713940,707632,43.9,124.7,0.7,109.1,4.0,1016384,281565,45.6,20.6
Idaho,1657375,830627,826748,559.4,28.4,66.7,3648.5,16.6,1168167,2031565,680.8,247.4
Illinois,12854526,6312600,6541926,492.0,124.6,15.7,8878.9,525.1,9043520,5398899,1423.5,674.4
Indiana,6614418,3258279,3356139,357.0,92.6,17.3,8349.4,244.6,4850327,4772721,1212.2,501.0
Iowa,3118102,1548035,1570067,449.4,107.2,29.2,9047.6,136.5,2302495,5290172,1138.5,385.7
Kansas,2903820,1445980,1457840,1024.2,84.4,81.8,8897.8,183.6,2069337,5252370,1298.7,419.0
Kentucky,4424376,2179025,2245351,276.2,61.6,21.9,11017.2,437.9,3325139,4976459,2556.5,920.7
Louisiana,4663461,2281239,2382222,223.4,51.7,39.5,3950.7,2033.6,3447638,2729861,1401.6,503.8
Maine,1330158,651040,679118,22.6,12.4,12.3,1510.3,12.4,1055130,794893,223.9,92.8
Maryland,5996079,2906277,3089802,140.0,79.1,4.6,1634.8,476.1,4248702,1740988,260.6,146.9
Massachusetts,6789319,3293426,3495893,125.9,56.4,4.0,1089.6,79.8,4931669,994430,156.8,81.8
Michigan,9925568,4880579,5044989,287.2,82.8,104.8,7312.2,321.6,7435282,3945033,1300.2,632.5
Minnesota,5490726,2731831,2758895,372.0,125.2,168.4,7737.6,141.8,4010716,5005110,960.5,344.0
Mississippi,2986220,1448717,1537503,196.4,42.1,41.8,4453.9,3390.3,2220809,3035535,2045.2,820.6
Missouri,6075300,2981332,3093968,322.5,72.6,57.4,10415.2,409.6,4567241,5110060,1985.1,693.0
Montana,1029862,517860,512002,162.4,26.2,435.3,4848.1,12.4,794084,2673818,817.0,253.4
Nebraska,1893921,943547,950374,608.6,47.8,110.8,8324.6,76.1,1350097,4829337,1041.2,264.8
Nevada,2887725,1450091,1437634,294.4,34.5,65.6,1229.0,37.2,1943710,966603,215.9,125.7
New Hampshire,1331848,659131,672717,23.2,18.2,1.9,929.5,10.2,1034685,649019,92.7,45.4
New Jersey,8960161,4372321,4587840,355.7,149.2,2.1,1311.3,238.1,6142332,1618003,220.4,149.5
New Mexico,2084828,1032086,1052742,1563.6,25.0,227.1,1385.5,41.4,1471669,1359508,717.5,249.7
New York,19798228,9604111,10194117,474.2,175.3,23.2,5041.9,360.3,13741921,3615174,869.0,407.8
North Carolina,10052564,4895368,5157196,709.2,113.9,154.9,6811.1,2016.3,7309766,4455167,1832.2,796.5
North Dakota,745475,382121,363354,147.4,26.2,348.6,4643.2,46.5,560530,3169186,563.3,144.6
Ohio,11609756,5686081,5923675,230.2,82.0,12.9,7945.1,359.1,8761633,4553314,1276.7,535.4
Oklahoma,3896251,1930615,1965636,679.7,58.3,685.2,5460.3,260.1,2802583,3558929,1315.6,450.7
Oregon,4025127,1993822,2031305,422.2,57.7,61.8,2913.6,26.5,2948763,1746090,572.7,268.4
Pennsylvania,12790505,6260160,6530345,280.6,96.6,8.3,5913.0,302.0,9740191,3569886,859.8,404.1
Puerto Rico,3468963,1653997,1814966,7715.2,3.5,0.4,64.2,3.8,2690457,1436210,3800.9,1467.5
Rhode Island,1056138,512581,543557,37.3,12.5,1.6,421.7,15.0,784492,349532,50.1,29.3
South Carolina,4893444,2376759,2516685,206.8,37.0,16.3,2622.0,1632.6,3673580,1937832,922.9,403.6
South Dakota,855444,430587,424857,169.7,47.4,916.9,5292.1,36.7,629704,3326977,1069.6,318.2
Tennessee,6597381,3217073,3380308,321.9,64.9,24.6,8211.0,689.0,4916862,4086578,1753.3,697.7
Texas,27419612,13616977,13802635,8767.7,249.1,84.7,14365.7,1561.1,17512737,12673162,4149.1,1531.2
Utah,2993941,1506614,1487327,259.4,22.8,79.4,2475.0,12.6,1942342,1717054,353.5,126.6
Vermont,624636,308026,316610,23.5,12.7,4.9,1319.5,11.8,493441,773538,162.4,63.4
Virginia,8365952,4113988,4251964,682.1,274.3,35.0,9534.0,2446.9,6051620,7483915,1910.9,802.5
Washington,7169967,3580888,3589079,546.0,104.3,78.8,2978.7,48.4,5081381,2110386,587.6,261.4
West Virginia,1836843,907621,929222,67.1,24.0,9.8,5193.7,126.6,1446498,2293605,1021.6,443.5
Wisconsin,5763217,2864115,2899102,263.5,87.3,192.6,6427.8,114.7,4328520,3877158,860.0,329.1
Wyoming,583200,298301,284899,187.9,17.3,40.6,1995.7,13.4,432814,1358500,258.2,98.5

In [39]:
df_['TotalPop'].sort_values(ascending=False).head(5)

State
California    38982847
Texas         27419612
Florida       20278447
New York      19798228
Illinois      12854526
Name: TotalPop, dtype: int64

In [38]:
df_['TotalPop'].sort_values(ascending=False).tail(5)

State
North Dakota            745475
Alaska                  738565
District of Columbia    672391
Vermont                 624636
Wyoming                 583200
Name: TotalPop, dtype: int64

In [49]:
topIncome = df_['Income'].sort_values(ascending=False).head(5)
topPoverty = df_['Poverty'].sort_values(ascending=False).head(5)

top_combined = pd.concat([topIncome, topPoverty], axis=1, keys=['Income','Poverty'])
top_combined

                 Income  Poverty
State
Texas        12673162.0   4149.1
Virginia      7483915.0      NaN
Georgia       6879737.0   3369.6
Illinois      5398899.0      NaN
Iowa          5290172.0      NaN
Puerto Rico         NaN   3800.9
Kentucky            NaN   2556.5
Mississippi         NaN   2045.2

In [50]:
leastIncome = df_['Income'].sort_values(ascending=False).tail(5)
leastPoverty = df_['Poverty'].sort_values(ascending=False).tail(5)

least_combined = pd.concat([leastIncome, leastPoverty], axis=1, keys=['Income', 'Poverty'])
least_combined

                      Income  Poverty
State
Connecticut           595968     73.6
Rhode Island          349532     50.1
Hawaii                281565     45.6
Delaware              183884     36.9
District of Columbia   77649     17.4

In [69]:
countyIncome = df.groupby('County')[['Income', 'Poverty', 'TotalPop']].sum()
topCounty = countyIncome.sort_values(by=['Income'], ascending=False).head(10)
leastCounty = countyIncome.sort_values(by=['Income'], ascending=True).head(10)
print(f"Top Income Counties:\n{topCounty}\n")
print(f"Least Income Counties:\n{leastCounty}")

Top Income Counties:
                    Income  Poverty  TotalPop
County
Washington County  1560255    444.0   2564646
Jefferson County   1242726    404.0   3208539
Franklin County    1187736    370.3   2226454
Lincoln County     1113402    340.0    596238
Jackson County     1046974    428.9   1722755
Montgomery County   933088    303.0   3697587
Madison County      932481    312.4   1373584
Union County        847769    251.3   1128752
Monroe County       808288    291.9   1558442
Clay County         788269    349.9    696112

Least Income Counties:
                         Income  Poverty  TotalPop
County
Adjuntas Municipio        11680     64.1     18525
Guánica Municipio         12653     65.2     17327
Lares Municipio           12820     56.4     27321
Moca Municipio            13413     57.7     37676
Maricao Municipio         13462     65.0      6180
Comerío Municipio         13523     58.9     19914
Lajas Municipio           13896     60.6     23893
San Sebastián Municipio   14275     55.3     38970
Orocovis Municipio        14296     56.3     21906
Las Marías Municipio      14404     57.6      8874

In [70]:
print(f"Most Poverties:\n{countyIncome.sort_values(by=['Poverty'], ascending=False).head(10)}")

Most Poverties:
                    Income  Poverty  TotalPop
County
Washington County  1560255    444.0   2564646
Jackson County     1046974    428.9   1722755
Jefferson County   1242726    404.0   3208539
Franklin County    1187736    370.3   2226454
Clay County         788269    349.9    696112
Lincoln County     1113402    340.0    596238
Marion County       725716    313.6   2018526
Madison County      932481    312.4   1373584
Montgomery County   933088    303.0   3697587
Monroe County       808288    291.9   1558442

In [75]:
countyIncome['PovertyPercent'] = countyIncome['Poverty'] * 100 / countyIncome['TotalPop']
countyIncome.sort_values(by=['PovertyPercent'], ascending=False).head(5)

                   Income  Poverty  TotalPop  PovertyPercent
County
Loving County       80938     17.1        74       23.108108
Kenedy County       24800     24.8       564        4.397163
Issaquena County    25609     40.3      1296        3.109568
Culebra Municipio   23355     41.8      1494        2.797858
Arthur County       41250     10.9       421        2.589074

In [76]:
countyIncome.sort_values(by=['PovertyPercent'], ascending=False).tail(5)

                    Income  Poverty  TotalPop  PovertyPercent
County
Harris County       127330     24.1   4558717        0.000529
Santa Clara County  106761      8.6   1911226        0.000450
San Diego County     70588     13.3   3283665        0.000405
Maricopa County      58580     15.7   4155501        0.000378
Los Angeles County   61015     17.0  10105722        0.000168

In [85]:
df_['MenPercent'] = (df_['Men'] * 100) / df_['TotalPop']
df_['WomenPercent'] = (df_['Women'] * 100) / df_['TotalPop']
df_[['TotalPop', 'MenPercent', 'WomenPercent']].sort_values(by=['TotalPop'], ascending=False)

                      TotalPop  MenPercent  WomenPercent
State
California            38982847   49.679745     50.320255
Texas                 27419612   49.661450     50.338550
Florida               20278447   48.891126     51.108874
New York              19798228   48.509953     51.490047
Illinois              12854526   49.107995     50.892005
Pennsylvania          12790505   48.943806     51.056194
Ohio                  11609756   48.976749     51.023251
Georgia               10201635   48.706771     51.293229
North Carolina        10052564   48.697705     51.302295
Michigan               9925568   49.171785     50.828215
New Jersey             8960161   48.797349     51.202651
Virginia               8365952   49.175372     50.824628
Washington             7169967   49.942880     50.057120
Arizona                6809946   49.707516     50.292484
Massachusetts          6789319   48.508930     51.491070
Indiana                6614418   49.260252     50.739748
Tennessee              6597381   48.762880     51.237120
Missouri               6075300   49.073001     50.926999
Maryland               5996079   48.469625     51.530375
Wisconsin              5763217   49.696463     50.303537
Minnesota              5490726   49.753548     50.246452
Colorado               5436519   50.240144     49.759856
South Carolina         4893444   48.570271     51.429729
Alabama                4850771   48.462523     51.537477
Louisiana              4663461   48.917296     51.082704
Kentucky               4424376   49.250448     50.749552
Oregon                 4025127   49.534387     50.465613
Oklahoma               3896251   49.550581     50.449419
Connecticut            3594478   48.798351     51.201649
Puerto Rico            3468963   47.679869     52.320131
Iowa                   3118102   49.646708     50.353292
Utah                   2993941   50.322101     49.677899
Mississippi            2986220   48.513405     51.486595
Arkansas               2977944   49.082555     50.917445
Kansas                 2903820   49.795786     50.204214
Nevada                 2887725   50.215689     49.784311
New Mexico             2084828   49.504611     50.495389
Nebraska               1893921   49.819765     50.180235
West Virginia          1836843   49.412007     50.587993
Idaho                  1657375   50.117022     49.882978
Hawaii                 1421572   50.221867     49.778133
New Hampshire          1331848   49.489957     50.510043
Maine                  1330158   48.944561     51.055439
Rhode Island           1056138   48.533525     51.466475
Montana                1029862   50.284407     49.715593
Delaware                943732   48.411625     51.588375
South Dakota            855444   50.334914     49.665086
North Dakota            745475   51.258728     48.741272
Alaska                  738565   52.306703     47.693297
District of Columbia    672391   47.449475     52.550525
Vermont                 624636   49.312880     50.687120
Wyoming                 583200   51.149005     48.850995

In [100]:
proInfo = df.groupby('County')[['TotalPop', 'Professional', 'Income']].sum().sort_values(by=['Income'], ascending=False)
proInfo

                    TotalPop  Professional   Income
County
Washington County    2564646         976.4  1560255
Jefferson County     3208539         806.2  1242726
Franklin County      2226454         745.8  1187736
Lincoln County        596238         696.6  1113402
Jackson County       1722755         701.2  1046974
...                      ...           ...      ...
Maricao Municipio       6180          15.5    13462
Moca Municipio         37676          29.9    13413
Lares Municipio        27321          36.5    12820
Guánica Municipio      17327          34.2    12653
Adjuntas Municipio     18525          36.5    11680

[1954 rows x 3 columns]

In [108]:
proInfo['ProfessionalPercent'] = proInfo['Professional'] * 100 / proInfo['TotalPop']

mask = proInfo['TotalPop'] > proInfo['TotalPop'].mean()
proInfo[mask].sort_values(by=['Income'], ascending=False)

                    TotalPop  Professional   Income  ProfessionalPercent
County
Washington County    2564646         976.4  1560255             0.038072
Jefferson County     3208539         806.2  1242726             0.025127
Franklin County      2226454         745.8  1187736             0.033497
Lincoln County        596238         696.6  1113402             0.116833
Jackson County       1722755         701.2  1046974             0.040702
...                      ...           ...      ...                  ...
Orleans Parish        388182          42.3    38721             0.010897
St. Louis city        314867          40.6    38664             0.012894
Bronx County         1455846          25.0    36593             0.001717
Bayamón Municipio     188614          33.1    25528             0.017549
San Juan Municipio    355181          39.3    21677             0.011065

[387 rows x 4 columns]